@import "./globals.scss";

$btn-primary: #e80f5b;

main {
  max-width: 760px;
  margin: 0 auto;
}



.small-week-cards-list {
  display: flex;
  flex-wrap: wrap;

  .small-week-cards-item {
    margin: 1px;
    border: 1px solid #fff;

    button {
      height: 50px;
      width: 50px;
      border: none;
      color: white;
      font-size: 1.5rem;
      background-color: #333333;
    }
  }
}

hr {
  margin: 2rem 0;
}

.week-list {
  .week-list-item {
    border: black solid 1px;
    padding: 5px;
    margin: 1rem 0;

    button {
      color: black;
      border: none;
      background: none;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.day-list {
  .day-list-item {
    display: flex;

    span {
      display: block;
      padding: 1rem;
      align-self: flex-start;


      &:nth-child(1) {
        min-width: 100px;
      }

      &:nth-child(2) {
        padding-left: 5rem;
        min-width: 200px;
      }
    }

    &:nth-of-type(2n) {
      background-color: #c1c1c1;
    }
  }

  button {
    color: black;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
  }
}

.one-week-list {

  h1 {
    font-size: 3rem;
  }

  .one-week-item {
    display: flex;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 1rem;


    span {
      display: block;
      padding-right: 1rem;
      align-self: flex-start;

      &:nth-child(1) {
        min-width: 150px;
      }

      &:nth-child(2) {
        min-width: 200px;
      }
    }

    &:nth-of-type(2n) {
      background-color: whitesmoke;
    }
  }
}

.primary-btn {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ff0055;
  border-radius: 4px;
  background: #ff0055;
  color: white;
  margin-right: 1rem;
  text-decoration: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    box-shadow: 0 4px 15px 0 rgba(#000000, 0.1);
    color: $btn-primary;
    border-color: transparent;
    background-color: transparent;
  }

  &--transparent {
    color: $btn-primary;
    background-color: transparent;
  }

}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.5);
}

.modalContainer {
  width: 100%;
  max-width: 500px;
  max-height: 550px;
  overflow-y: scroll;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 1.5rem;
  }

  .modal-list {
    margin-top: 1rem;

    .modal-list-item {
      padding: 0.5rem;

      .input-container {
        display: flex;
        background-color: whitesmoke;
        padding: 1rem 0.5rem;

        label {
          font-size: 1.5rem;
          margin-left: 10px;
        }
      }
    }
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
}